<div *transloco="let t">
  <p></p>
  <h2>{{t('uList.header')}}</h2>
  <button mat-raised-button color="accent" (click)="onAddUserClicked()">{{t('uList.addBtn')}}</button>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
        <tr>
          <th>{{t('uList.uTable.firstname')}}</th>
          <th>{{t('uList.uTable.lastname')}}</th>
          <th>{{t('uList.uTable.email')}}</th>
          <th>{{t('uList.uTable.active')}}</th>
          <th>{{t('uList.uTable.actions')}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userList">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName}}</td>
          <td>{{ user.email }}</td>
          <mat-icon class="icon" [ngClass]="{ 'active-icon': user.active, 'inactive-icon': !user.active }">
            {{ user.active ? 'check_circle' : 'cancel' }}
          </mat-icon>
          <td>
            <app-user [user]="user" (userAction)="handleUserAction($event)"></app-user>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="paginator-container">
    <mat-paginator [length]="totalItems"
                   [pageIndex]="currentPage"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageChanged($event)">
    </mat-paginator>
  </div>
</div>
