<div class="grid align__item" *transloco="let t">
<h3>{{t('firstLogin.header')}}</h3>

<form [formGroup]="passwdForm" (ngSubmit)="onSave()">
  <div>
    <label for="password">{{t('firstLogin.password')}}</label>
    <input id="password" type="text" formControlName="password">
  </div>

  <p>{{t('firstLogin.disclaimer')}}</p>
  <button mat-raised-button disabled type="submit"  [disabled]="!passwdForm.valid" color="accent">{{t('firstLogin.save')}}</button>
  <div *ngIf="passwdForm.get('password')?.hasError('required')">Password is required</div>
  <div *ngIf="passwdForm.get('password')?.hasError('minlength')">Minimum 10 characters</div>
  <div *ngIf="passwdForm.get('password')?.hasError('specialChar')">At least one special character</div>
  <div *ngIf="passwdForm.get('password')?.hasError('uppercase')">At least one uppercase character</div>
  <div *ngIf="passwdForm.get('password')?.hasError('number')">At least one number</div>
</form>

</div>
