<div *transloco="let t" class="grid align__item">
  <div class="first-login">
    <p class="info-text">It looks like it's your first time logging in.</p>
    <p class="info-text">Please change your password!</p>

    <form (ngSubmit)="onSave()" [formGroup]="passwdForm">
      <div class="form-group">
        <input class="form-control" formControlName="password" id="password" placeholder="Enter your new password"
               type="password">
        <div *ngIf="passwdForm.get('password')?.hasError('required')" class="error-msg">Password is required</div>
        <div *ngIf="passwdForm.get('password')?.hasError('minlength')" class="error-msg">Minimum 10 characters</div>
        <div *ngIf="passwdForm.get('password')?.hasError('specialChar')" class="error-msg">At least one special
          character
        </div>
        <div *ngIf="passwdForm.get('password')?.hasError('uppercase')" class="error-msg">At least one uppercase
          character
        </div>
        <div *ngIf="passwdForm.get('password')?.hasError('number')" class="error-msg">At least one number</div>
      </div>

      <button [disabled]="!passwdForm.valid" color="accent" mat-raised-button>Save</button>
    </form>
  </div>
</div>
