.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first-login {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
}

.info-text {
  color: #333;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-msg {
  color: #f85252;
  font-size: 0.8rem;
  margin-top: 0.3rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 4px;
}
