<div *transloco="let t" class="role-details">
  <h2>{{rolePermission.role}}</h2>
  <div class="form__field">
    <mat-chip-list multiple selectable>
      <mat-chip
        #c="matChip"
        *ngFor="let permission of acquiredPermissions"
        [ngStyle]="{'background-color': '#Fa5353'}"
        [value]="permission.permission"
      >
        {{permission.permission}}
      </mat-chip>
    </mat-chip-list>
  </div>
  <form [formGroup]="form">
  <label for="addMultiplePermissions">{{t('pForm.add')}}</label>
    <mat-select class="multi-select"  formControlName="permissionsToBeAdded" multiple  id="addMultiplePermissions">
      <mat-option *ngFor="let permission of missingPermissions" [value]="permission">
        {{permission.permission}}
      </mat-option>
    </mat-select>
  <button mat-raised-button color="accent" class="submit-button" (click)="addPermissions()">{{t('cDetails.addBtn')}}</button>
  <br>
  <label for="removeMultiplePermissions">{{t('pForm.delete' )}}</label>
  <mat-select class="multi-select" formControlName="permissionsToBeDeleted" multiple  id="removeMultiplePermissions">
    <mat-option *ngFor="let permission of acquiredPermissions" [value]="permission">
      {{permission.permission}}
    </mat-option>
  </mat-select>
  <button  mat-raised-button color="accent" class="submit-button" (click)="removePermissions()">{{t('cDetails.deleteBtn')}}</button>
  </form>
  <p></p>
  <button  mat-raised-button color="accent" (click)="backtoUserList()">{{t('backtoUserList.back')}}</button>
</div>
