<form class="form" [formGroup]="campaignForm" (ngSubmit)="onSave()" *transloco="let t">
  <div class="form__field">
    <p>{{t('cForm.name')}}</p>
    <input
      [placeholder]="campaign.name"
      type="text"
      formControlName="name"
    />
  </div>

  <div class="form__field">
    <p>{{t('cForm.purpose')}}</p>
    <input
      [placeholder]="campaign.purpose"
      type="text"
      formControlName="purpose"/>
  </div>

  <div class="form__field">
    <button mat-raised-button disabled type="submit" [disabled]="!campaignForm.valid" color="accent">{{t('cForm.submitBtn')}}</button>
  </div>
</form>
