<form class="form" [formGroup]="campaignForm" (ngSubmit)="onSave()">
  <div class="form__field">
    <p>Name:</p>
    <input
      [placeholder]="campaign.name"
      type="text"
      formControlName="name"
    />
  </div>

  <div class="form__field">
    <p>Purpose:</p>
    <input
      [placeholder]="campaign.purpose"
      type="text"
      formControlName="purpose"/>
  </div>

  <div class="form__field">
    <button mat-raised-button disabled type="submit" [disabled]="!campaignForm.valid" color="accent">Save</button>
  </div>
</form>
