.notif-section {
  border-bottom-style: dotted;
  border-bottom-color: gray;
  padding: 15px;
  color: black;
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.multiline-text {
  white-space: pre-line;
}
