.container{
  max-width:1068px;
  margin: auto;
  width: 100%;
}

/* .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
} */

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem; /* You can adjust the padding value as needed */
  background-color: #86efac; /* Replace with the desired color */
  color: #FFF; /* White text color */
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--dark-color);
  z-index: 100;
}
