<div *transloco="let t">
  <button mat-raised-button color="accent" [disabled]="donation.approved === true" (click)="onEditClicked(donation)">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-raised-button color="warn" [disabled]="donation.approved === true" (click)="onDeleteClicked(donation)">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-raised-button color="primary" [disabled]="donation.approved === true" (click)="onApproveClicked(donation)">
    <mat-icon>check_circle</mat-icon>
  </button>
</div>


