<form (ngSubmit)="onSave()" *transloco="let t" [formGroup]="donationForm" class="form">
  <div class="form__field">
    <h4>{{t('donationForm.amount')}}</h4>
    <input
      [placeholder]="amount"
      formControlName="amount"
      type="text"
    />
    <div *ngIf="showAmountError()">
      <div class="error-message">{{t('donationForm.errors.amountE')}}</div>
    </div>
  </div>

  <div class="form__field">
    <h4>{{t('donationForm.currency')}}</h4>
    <mat-select formControlName="currency" id="addCurrency">
      <mat-option *ngFor="let currency of currencies" [value]="currency">
        {{currency}}
      </mat-option>
    </mat-select>
    <!--    <button class="submit-button" (click)="addCampaign()">Confirm campaign</button>-->
    <div *ngIf="showCurrencyError()">
      <div class="error-message">{{t('donationForm.errors.currencyE')}}</div>
    </div>
  </div>

  <div class="form__field">
    <h4>{{t('donationForm.campaign')}}</h4>
    <mat-select formControlName="campaign" id="addCampaign">
      <mat-option *ngFor="let campaign of campaigns"
                  [value]="campaign">
        {{campaign.name}}
      </mat-option>
    </mat-select>
  </div>

  <div *ngIf="showCampaignError()">
    <div class="error-message">{{t('donationForm.errors.campaignE')}}</div>
  </div>

  <div class="form__field">
    <h4>{{t('donationForm.benefactor')}}</h4>
    <mat-select formControlName="benefactor" id="addBenefactor">
      <mat-option *ngFor="let donator of donators"
                  [value]="donator">
        {{donator.firstName}} {{donator.lastName}} {{donator.additionalName}}
      </mat-option>
    </mat-select>
  </div>

  <div *ngIf="showBenefactorError()">
    <div class="error-message">{{t('donationForm.errors.benefactorE')}}</div>
  </div>

  <div class="form__field">
    <h4>{{t('donationForm.notes')}}</h4>
    <input
      [placeholder]="notes"
      formControlName="notes"
      type="text"
    />
  </div>

  <div class="form__field">
    <button class="btn btn-primary custom-btn" color="accent" mat-raised-button
            type="submit">{{t('donationForm.submitBtn')}}</button>
  </div>
</form>

