<!--<form class="form" [formGroup]="createForm" (ngSubmit)="onSave()">-->
  <div class="form__field">
    <input
      [placeholder]="donation.amount"
      type="text"
      formControlName="amount"
    />
    <div *ngIf="showAmountError()">
      <div class="error-message">Amount is required</div>
    </div>
  </div>

  <div class="form__field">
    <input
      [placeholder]="donation.currency"
      type="text"
      formControlName="currency"
    />
    <div *ngIf="showCurrencyError()">
      <div class="error-message">Currency is required</div>
    </div>
  </div>

  <div class="form__field">
    <input
      [placeholder]="donation.createdBy"
      type="text"
      formControlName="createdBy"
    />
    <div *ngIf="showCreatedByError()">
      <div class="error-message">CreatedBy is required</div>
    </div>
  </div>

  <label for="addBenefactor">Add Donator</label>
  <mat-select formControlName="donatorToBeAdded" id="addBenefactor">
    <mat-option *ngFor="let donator of donators" [value]="donator">
      {{donator.firstName}}, {{donator.lastName}}
    </mat-option>
  </mat-select>
<!--  <button class="submit-button" (click)="addDonator()">Submit added donator</button>-->


  <div class="form__field">
    <button mat-raised-button color="accent" class="btn btn-primary custom-btn" type="submit">Submit donation</button>
  </div>
<!--</form>-->

