<div *transloco="let t">
  <p></p>
  <h2>{{t('cList.header')}}</h2>
  <button (click)="onAddCampaignClicked()" class="addbutton" mat-raised-button>{{t('cAdd.header')}}
    <mat-icon>add</mat-icon>
  </button>
  <div class="dropdown-container">
    <button (click)="toggleDropdown()" id="dropdown-button-extra" mat-raised-button>{{t('filterBtn.name')}}</button>
    <div class="dropdown-content">

      <div class="container">

        <form (ngSubmit)="applyFilters()" [formGroup]="campaignForm" class="form">

          <div class="filter">
            <div class="form__field">
              <label>Search by name: </label>
              <input
                formControlName="nameTerm"
                placeholder="Name of Campaign"
                type="text"
              />
            </div>
          </div>

          <div class="filter">
            <div class="form__field">
              <label>Search by purpose: </label>
              <input
                formControlName="purposeTerm"
                placeholder="Purpose of Campaign"
                type="text"
              >
            </div>
          </div>

          <button color="accent" mat-raised-button type="submit">{{t('donationList.filters.applyFilters')}}</button>
          <button (click)="clearAllFilterParamsAndRefresh()" color="primary"
                  mat-raised-button>{{t('donationList.filters.clearFilters')}}</button>

        </form>
      </div>

    </div>
  </div>
  <button (click)="downloadFile()" class="download-button" mat-raised-button>
    {{t('cDownload.header')}}
    <mat-icon>download</mat-icon>
  </button>
  <div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>{{t('cList.cTable.name')}}</th>
        <th>{{t('cList.cTable.purpose')}}</th>
        <th>{{t('cList.cTable.actions')}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let campaign of campaignList">
        <td>{{ campaign.name }} </td>
        <td>{{ campaign.purpose }}</td>
        <td>
          <app-campaign-details (emmitter)="handleCampaignAction($event)" [campaign]="campaign"></app-campaign-details>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="paginator-container">
    <mat-paginator (page)="pageChanged($event)"
                   [length]="totalItems"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </div>
  <div class="paginator-container">
    <mat-paginator (page)="pageChanged($event)"
                   [length]="totalItems"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>

