h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
  text-align: center;
}

.grid {
  margin: 0 auto;
  max-width: 25rem;
  width: 100%;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.align__item--start {
  align-self: flex-start;
}

.align__item--end {
  align-self: flex-end;
}

*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Table Styles */

.table-wrapper{
  margin: 70px 350px;
  box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  max-height: 300px;
  overflow-x: scroll;
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  color: black;
}

.fl-table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

.icon {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 4px;
}
.sticky-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #4FC3A1;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.paginator-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px; /* Add some padding to the paginator container */
}

.sticky-button:hover {
  background-color: darkgreen;
  color: #ffffff;
  outline: none;
}
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.container{
  width: 300px;
  margin: 0 auto; /* Center the box horizontally */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  background-color:  black;
}

.form input {
  outline: 0;
  padding: 0.5rem 1rem;
}

input {
  font: inherit;
  border: 1px solid #242c37;
  border-radius: 999px;
}

.form__field {
  margin-bottom: 1rem;
}

.addbutton {
  background: #4FC3A1;
  margin-left: 210px;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addbutton:hover {
  background-color: darkslategray;
  color: #ffffff;
  outline: none;
}

#dropdown-button {
  background-color: rebeccapurple;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 300px;
}

#dropdown-button:hover {
  background-color: indigo;
  color: #ffffff;
  outline: none;
}

.download-button{
  background: #4FC3A1;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 350px;
}

.download-button:hover {
  background-color: darkslategray;
  color: #ffffff;
  outline: none;
}


