<form class="form" [formGroup]="registerForm" (ngSubmit)="onSave()">
  <div class="form__field">
    <input
      [placeholder]="donator.firstName"
      type="text"
      formControlName="firstName"
    />
    <div *ngIf="showFirstNameError()">
      <div class="error-message">First name is required</div>
    </div>
  </div>

  <div class="form__field">
    <input
      [placeholder]="donator.additionalName"
      type="text"
      formControlName="additionalName"
    />
  </div>

  <div class="form__field">
    <input
      [placeholder]="donator.lastName"
      type="text"
      formControlName="lastName"
    />
    <div *ngIf="showLastNameError()">
      <div class="error-message">Last name is required</div>
    </div>
  </div>

  <div class="form__field">
    <input
      type="text"
      formControlName="maidenName"
      [placeholder]="donator.maidenName"
    />
  </div>

  <div class="form__field">
    <button mat-raised-button color="accent" class="btn btn-primary custom-btn" type="submit">Submit donator</button>
  </div>
</form>
