<form class="form" [formGroup]="registerForm" (ngSubmit)="onSave()">
  <div class="form__field">
    <p>First Name:<span>*</span></p>
    <input
      [placeholder]="donator.firstName"
      type="text"
      formControlName="firstName"
    />
    <div *ngIf="showFirstNameError()">
      <div class="error-message">First name is required</div>
    </div>
  </div>

  <div class="form__field">
    <p>Additional Name:</p>
    <input
      [placeholder]="donator.additionalName"
      type="text"
      formControlName="additionalName"
    />
  </div>

  <div class="form__field">
    <p>Last Name:<span>*</span></p>
    <input
      [placeholder]="donator.lastName"
      type="text"
      formControlName="lastName"
    />
    <div *ngIf="showLastNameError()">
      <div class="error-message">Last name is required</div>
    </div>
  </div>

  <div class="form__field">
    <p>Maiden Name:</p>
    <input
      [placeholder]="donator.maidenName"
      type="text"
      formControlName="maidenName"
    />
  </div>

  <div class="form__field">
    <button mat-raised-button disabled type="submit" [disabled]="!registerForm.valid" color="accent">Submit donator</button>
  </div>
</form>
