<form class="form" [formGroup]="registerForm" (ngSubmit)="onSave()">
  <div class="form__field">
    <p>First Name:</p>
    <input
      [placeholder]="user.firstName"
      type="text"
      formControlName="firstName"
    />
    <div *ngIf="showFirstNameError()">
      <div class="error-message">First name is required</div>
    </div>
  </div>

  <div class="form__field">
    <p>Last Name:</p>
    <input
      [placeholder]="user.lastName"
      type="text"
      formControlName="lastName"
    />
    <div *ngIf="showLastNameError()">
      <div class="error-message">Last name is required</div>
    </div>
  </div>

  <div class="form__field">
    <p>Email:</p>
    <input
      [placeholder]="user.email"
      type="text"
      formControlName="email"
    />
    <div *ngIf="showEmailError()">
      <div class="error-message">Email is required</div>
    </div>
  </div>

  <div class="form__field">
    <p>Mobile Number:</p>
    <input
      type="text"
      formControlName="mobileNumber"
      [placeholder]="user.mobileNumber"
    />
  </div>

  <p>Choose Roles:</p>
  <div class="form__field">
    <mat-chip-list selectable multiple>
      <mat-chip
        #c="matChip"
        *ngFor="let role of roleList"
        [value]="role.name"
        (click)="toggleSelection(c, role)"
        [ngClass]="{'selected-chip': isSelected(role)}"
      >
        {{role.name}}
      </mat-chip>
    </mat-chip-list>
  </div>

  <div *ngIf="showRolesError()">
    <div class="error-message">Please select at least one role.</div>
  </div>

  <div class="form__field">
    <button mat-raised-button color="accent" class="btn btn-primary custom-btn" type="submit">Submit user</button>
  </div>
</form>
