<div>
  <mat-grid-list cols="3" row rowHeight="2:0.55">
    <mat-grid-tile *ngFor="let notif of notifList">
      <app-notification [notification]="notif"></app-notification>
    </mat-grid-tile>
  </mat-grid-list>
  <br>
  <div class="paginator-container">
    <mat-paginator (page)="pageChanged($event)"
                   [length]="totalItems"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageSize]="pageSize">
    </mat-paginator>
  </div>
</div>
